#main{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}
#user-container {
    justify-content: left;

 /* Set a fixed width for the user-container, adjust as needed */
}

#export-json {
    justify-content: right;

    flex: 0 0 30%; /* Set a fixed width for the export-json, adjust as needed */
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
form {
    left: 50%;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
form label {
    color: #ffffff;
}
button[type="submit"] {
    padding: 5px;
    transition: transform 0.5s; /* Used to come back to original in slow motion */
    color: #ffffff;
    background: transparent;
    border: none;
}

button[type="submit"]:hover {
    color: #fe8a01;

}

input[type="submit"] {
    padding: 5px;
    transition: transform 0.5s; /* Used to come back to original in slow motion */
    color: #ffffff;
    background: transparent;
    border: none;
}

input[type="submit"]:hover {
    color: #fe8a01;

}
.flower-name-admin {
    color: #ffffff;
}
.form-group {
    margin-bottom: 20px;
}
#delete-user-form p {
    margin-bottom: 5px;
    color: #ffffff;

}
#background {

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: linear-gradient(-45deg, #6EA751, #018749, #1cac78);
    background-size: cover;

    z-index: -1;

@keyframes {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {

        background-position: 0% 50%;

    }

}

}