/* Import the GeneralStyle.css file */
@import url('GeneralStyle.css');

/* Add your custom styles and functions below */

/* Flower section styles */
main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.flowers {

    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}
#add-flowers{

    position: relative;
    left: 0;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flower {
    border: 2px solid  hsl(220, 17%, 27%);
    border-radius: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
    padding-bottom:2%;
}

.flower h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.flower p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.flower-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 576px) {
    .flower {
        width: 80%;
    }
}

#humDiv{
    display: flex;
    align-content: center;
    align-items: center;
}
#humForm{
    left: 0;
    display: flex;
    justify-content: space-around;
    width: fit-content;


    padding: 0;
}
#water-button {
    padding: 5px;
    transition: transform 0.5s; /* Used to come back to original in slow motion */
    color: #ffffff;
    background: transparent;
    border: none;
}

#water-button:hover {
    color: #fe8a01;

}
