/* Import the GeneralStyle.css file */
@import url('GeneralStyle.css');

/* Add your custom styles and functions below */

/* Flower section styles */
main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: none;
}

.flowers {

    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.flower {
    border: 2px solid  hsl(220, 17%, 27%);;
    border-radius: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
    padding-bottom:2%;
}




.flower h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.flower p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.flower-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 576px) {
    .flower {
        width: 80%;
    }
}

#humDiv{
    display: flex;
    align-content: center;
    align-items: center;
}
#humForm{
    left: 0;
    display: flex;
    justify-content: space-around;
    width: fit-content;


    padding: 0;
}
#water-button {
    background-color: #4CAF50; /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Add some padding around the text */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove the underline */
    display: inline-block; /* Make it an inline element */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Add a cursor effect on hover */
    border-radius: 5px; /* Add rounded corners */
    transition-duration: 0.4s; /* Add a smooth transition effect */
}

#water-button:hover {
    background-color: #45a049; /* Change the background color on hover */
}
