
/**
 *  The following structure is respected to provide the nice design of the web page.
 *  First are the CSS styles for the global variables like body or getting rid of the ugly dots of li.
 *  Second are the styles for the general layout of the page.
 *  Third are the styles of different media queries.
 *  And at last, the main page characteristics.
 */


/*----------These styles are global----------*/
/* The code below is self explanatory, I don't think help is needed to understand */
html,body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 18px;
    color:hsl(220, 17%, 27%);
}



/* Getting rid of the underline of link and the blue text by inheriting the body color */
a{
    text-decoration: none;
    color: inherit;
}


/* Getting rid of the ugly dot */
li{

    list-style-type: none;
}



/* ----------The header's appointment to a make over started---------- */


.header{
    top: 0;
    left:0;
    width: 100%;
    height: 9rem;
    background-color: hsl(179, 93%, 50%);
    position: fixed; /* To stay on top of the page while scrolling */
    
    

    display: grid;/* Display grid because grid is beautiful as all arranged things are beautiful :D */
    grid-template-columns: repeat(4,1fr);/* A grid of 4 equal columns */
    grid-template-rows:auto auto auto;/* 3 rows that have auto height */
    align-items: center;/* Again, when things are arranged, they are beautiful */
}

.logo {
    margin:auto /* Centering the logo */
}

.title {
    text-align: center;/* I don't think I need to repeat myself anymore*/
    grid-column: 2 / span 2; /* Title starting at the column 2 of the first row and spanning over 2 columns */
    font-size: 35px;
}

.nav_bar > ul{ /* Well the 'Log In' and 'Register' button are already set in the last column of the grid so we just give them flex display to modify the look*/
    display: flex;
    justify-content: space-evenly;
}

.horizontal_rule{/* Just a horizontal rule*/
    background-color:hsl(220, 17%, 27%);
    grid-row: 2;/* Declared a row in grid only to add a horizontal rule */
    grid-column: 1 / span 4;/* Spanned it over all columns */
    height: 7px;
    margin-left: 5%;/* Resized a bit */
    margin-right: 5%;/*             */
    border-radius: 50%;/* Cool effect */
}


.nav_list{/* Set up the nav list on the last row of the grid */
    grid-row: 3;
    grid-column:1 / span 4;
}

.nav_list>ul{/* Display flex the ul inside of nav_list to be more beautiful ;D*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*----------Main section of the web page ----------*/
main{
    height: 150vh;

    margin-top: 11rem;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3%;

    background-color:hsl(20, 0%, 92%);
    color: hsl(220, 17%, 27%);

    display: grid;
}